@import 'globals.less';

@gallery-background: @deep-blue;

#gallery-page {

  height: @screen-height;
  background-color: @gallery-background;

  #gallery-container {

    h1 {

      font-weight: 300 !important;
      color: @background;

    }

    /*.gallery-row {
      display: flex;
    }

    #child-1 {
      background-color: @background;
      height: @screen-height;

      img {
        max-width: 100%;
        padding: 0 0 0 0;
      }
    }

    #child-2 {
      background-color: @black;
      //height: @screen-height * 0.8;
    }

    .gallery-column {
      //flex: 1;
    }*/

    img {

      //.shadowed;
      .dynamic-shadow(@gallery-background);

    }

    #selected-image-container {

      width: 100%;

      #selected-image {

        padding: 0 0 0 0;

      }

    }

    .selectable-container {

      overflow-y: auto;
      //height: @screen-height * 0.8;

    }

    .image-container {

      display: inline-block;
      margin: 0 5px 5px 0;

    }

  }
}

