@import 'globals.less';

@gallery-background: @deep-blue;


#gallery-page {

  background-color: @gallery-background;

  #gallery-container {

    h1 {

      font-weight: 300 !important;
      color: @background;

    }

    img {

      //.shadowed;
      .dynamic-shadow(@gallery-background);

    }

    #selected-image-container {

      display: none;

    }

    @media(min-width: @screen-sm-min) {

      #selected-image-container {

        display: initial;
        width: 100%;

        #selected-image {

          padding: 0 0 0 0;

        }

      }

      .selectable-container {

        overflow-y: auto;
        overflow-x: hidden;
        //height: @screen-height * 0.8;

      }


    }

    .image-container {

      //display: inline-block;
      margin: 0 5px 5px 0;
      max-width: 100%;

      img {
        display: block;
        max-width: 100%;
        min-width: 150px;
      }

    }


  }
}

