@import 'globals.less';
@import 'navbar.less';
@import 'gig.less';
@import 'gallery.less';

body {

  font-family: "Oswald" !important;
  font-weight: 300 !important;

}

.modal-window .modal-dialog {

  //width: 80%;
  //background-color: @transparent-deep-blue;
  //display: inline-block;

  .modal-content {

    //height: 100%;
    //height: @screen-height;
    display: inline-block;
    overflow-y: auto;
    background-color: @transparent-deep-blue;
    padding: 2% 2% 2% 2%;

  }

}

.image-selected {

  //.make-xs-column(12) !important;
  .make-xs-column(10) !important;
  .make-xs-column-offset(1) !important;

}

.image-not-selected {

  //.make-xs-column(12) !important;
  .make-md-column(6) !important;
  .make-md-column-offset(3) !important;

}

#background {

  position: fixed;
  width: 100%;
  height: @screen-height !important;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("../images/backgroundimages/spoketbackgroundsmall.jpg");
  background-size: cover !important;

  img {

    position: absolute;
    left: 5%;
    top: 15%;
    width: 90%;
    opacity: 0.95;

  }

}

@media(min-width: 560px) {

  #background {

    background-image: url("../images/backgroundimages/summertour2016stor.jpg");
    background-position: center top;

    img {

      width: 70%;
      left: 15%;
      top: 10%;

    }
  }
}

@media(min-width: 747px) {
  #background {

    position: absolute;

    img {

      width: 20%;
      left: 2%;
      top: 2%;

    }
  }
}

.section-heading {

  color: @deep-blue;
  width: 60%;

}

.smaller-section-heading {

  font-size: 18pt;
  .section-heading

}

.small-section-heading {

  font-size: 22pt;
  .section-heading

}

.non-bordered-large-section-heading {

  font-size: 30pt;
  letter-spacing: 2px;
  .section-heading;

}

.large-section-heading{

  .non-bordered-large-section-heading;
  border-top: 2px solid @deep-blue;
  /*font-size: 30pt;
  border-top: 2px solid @deep-blue;
  .section-heading*/

}


#main {

  position: absolute;
  top: @screen-height;
  z-index: 1;
  background-color: @background;
  width: 100%;

  .section {

    position: relative;
    z-index: 1;
    background-color: @background;
    padding-top: 5%;

  }

  h1 {
    color: @deep-blue;
  }

  .large-text {

    font-size: 14pt;

  }

  .big-image {

    height: @screen-height !important;
    background-image: url('../images/about.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center bottom;
    z-index: 0;
    position: relative;

  }
  #description {

    .drop-cap-container {

      float: left;
      padding: 0 5px 0 5px;
      margin-right: 2px;

    }

    .drop-cap {

      font-size: 60pt;
      color: #f44843;
      display: inline;
      float: left;
      top: 0;
      line-height: 65px;

    }

  }

  #members-section {

    /* The css for centering text is taken from https://css-tricks.com/centering-css-complete-guide/*/

    .member {

      margin-bottom: 5px;
      border-radius: 3px;
      border: 1px solid @off-white;
      width: 60%;
      .shadowed;

      p {

        margin-bottom: 0;
        font-size: 12pt;
        letter-spacing: 2px;

      }

    }


  }

  #media-section {

    .nav-tabs > .nav-tabs {

      border-bottom: 1px solid @deep-blue;
      width: 60%;
      letter-spacing: 2px;
      .large-text;

    }

    .nav-tabs > li > a {

      color: @deep-blue;

    }

    .nav-tabs > li.active > a {

      background-color: @background !important;
      border-bottom-color: transparent !important;
      border: 1px solid @deep-blue;

    }

    .nav-tabs > li > a:hover {

      //background-color: #EDECDE;
      background-color: @deep-blue;
      color: @background;
      border-bottom: 1px solid @deep-blue;

    }

    .nav-tabs > li.active > a:hover {

      color: @deep-blue;

    }

    .non-cascading-selectable-container {

      display: inline-block;

    }

    img {

      margin: 1% 1% 1% 0%;
      max-width: 100%;
      .shadowed;

    }

    iframe {

      max-width: 100%;
      .shadowed;

    }

  }
}

