<div id="admin-members-section">

    <div class="container-fluid">
        <div class="row">

            <div class="selectable-container col-md-4">
                <p class="non-bordered-large-section-heading text-center">MEDLEMMAR</p>
                <div class="selectable member {{ getColorClass($index, membersColors) }} colored-text" ng-repeat="member in members" ng-click="setPutState(member)">
                    <p>{{ member.firstname }} {{ member.lastname }} - {{ member.instrument }}</p>
                </div>
            </div>

            <div class="col-sm-8">

                <div class="col-sm-6 col-sm-offset-3">
                    <p class="non-bordered-large-section-heading text-center">{{ heading }}</p>

                    <form name="membersForm" novalidate>

                        <div class="form-group" ng-class="hasError(membersForm, 'firstname')">
                            <label for="firstname-input">Förnamn:</label>
                            <input type="text" id="firstname-input" class="form-control" name="firstname" ng-model="memberToBeSent.firstname" placeholder="Förnamn" required>

                            <div ng-show="isSubmittedOrTouched(membersForm, 'firstname')">
                                <label class="help-block" for="firstname-input" ng-show="isRequired(membersForm, 'firstname')">En medlem behöver ett förnamn!</label>
                            </div>
                        </div>

                        <div class="form-group" ng-class="hasError(membersForm, 'lastname')">
                            <label for="lastname-input">Efternamn:</label>
                            <input type="text" id="lastname-input" class="form-control" name="lastname" ng-model="memberToBeSent.lastname" placeholder="Efternamn" required>

                            <div ng-show="isSubmittedOrTouched(membersForm, 'lastname')">
                                <label class="help-block" for="lastname-input" ng-show="isRequired(membersForm, 'lastname')">En medlem behöver ett efternamn!</label>
                            </div>
                        </div>

                        <div class="form-group" ng-class="hasError(membersForm, 'instrument')">
                            <label for="instrument-input">Instrument:</label>
                            <input type="text" id="instrument-input" class="form-control" name="instrument" ng-model="memberToBeSent.instrument" placeholder="Instrument" required>

                            <div ng-show="isSubmittedOrTouched(membersForm, 'instrument')">
                                <label class="help-block" for="instrument-input" ng-show="isRequired(membersForm, 'instrument')">En medlem behöver spela något instrument!</label>
                            </div>
                        </div>

                        <button class="btn btn-primary pull-left" ng-click="sendMember(membersForm)">{{ memberAction }}</button>
                        <button class="btn btn-primary pull-left" ng-hide="addingNewMember" ng-click="setPostState()">Ny medlem</button>

                        <button class="btn btn-danger pull-right" ng-hide="addingNewMember" ng-click="deleteMember(membersForm)">Ta bort medlem</button>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
