<div id="admin-galleries-section">

    <div class="container-fluid">

        <div class="non-cascading-selectable-container col-md-4">

            <p class="non-bordered-large-section-heading text-center">Gallerier</p>

            <!--<div class="selectable" ng-repeat="(galleryName, galleryCover) in galleryCovers" ng-click="editGallery(galleryName)">
                <img src="{{ galleryCover }}">
                <p class="smaller-section-heading">{{ galleryName }}</p>
                <p ng-if="galleryCover == null" class="large-text"> Inget galleriomslag valt.</p>
            </div>-->
            <div class="selectable" ng-repeat="(galleryName, paths) in galleries" ng-click="editGallery(galleryName)">
                <img src="{{ paths.galleryCover }}">
                <p class="smaller-section-heading">{{ galleryName }}</p>
                <p ng-if="paths.galleryCover == null" class="large-text"> Inget galleriomslag valt.</p>
            </div>

        </div>

        <div class="col-md-8">

            <p class="non-bordered-large-section-heading text-center">{{ heading }}</p>

            <ng-repeat ng-repeat="image in galleryToBeSent.images track by $index">

                <!-- All images that come from the server will have a path to a thumbnail -->
                <div class="gallery-item">

                    <img src="{{ image.thumb }}" ng-class="isGallerycover(image, galleryToBeSent.galleryname) ? 'active' : ''">
                    <div ng-class="isGallerycover(image, galleryToBeSent.galleryname) ? 'edit-image' : 'btn-group-vertical edit-image'">
                        <button class="btn btn-danger" ng-click="deleteImage(image)">Ta bort</button>
                        <button ng-hide="isGallerycover(image, galleryToBeSent.galleryname)" class="btn btn-primary" ng-click="setGalleryCover(image)">Använd som omslag</button>
                    </div>

                </div>

            </ng-repeat>
            <ng-repeat ng-repeat="image in imagesToBeSent[galleryToBeSentID] track by $index">

                <!-- This is used for images that aren't actually on the server, but are instead awaiting confirmation to be sent -->
                <div class="gallery-item">

                    <img src="{{ image.url }}" width="256">
                    <button class="btn btn-danger delete-image edit-image" ng-click="deleteTemporaryImage(galleryToBeSent.galleryname, $index)">Ta bort</button>

                </div>

            </ng-repeat>

            <form name="galleryForm" novalidate>

                <div class="form-group">
                    <label class="btn btn-primary btn-file">
                        Lägg till ny(a) bild(er)
                        <input type="file"
                               file-model="imagesToBeSent[galleryToBeSentID]"
                               ng-model="imagesToBeSent[galleryToBeSentID]"
                               valid-file
                               name="images"
                               style="display: none"
                               multiple
                               required>
                    </label>
                </div>

                <div class="form-group" ng-class="hasError(galleryForm, 'galleryname')">
                    <label for="galleryname-input">Galleriets namn:</label>
                    <input type="text" name="galleryname" id="galleryname-input" class="form-control" ng-model="galleryToBeSent.galleryname" placeholder="Galleriets namn" required>

                    <div ng-show="isSubmittedOrTouched(galleryForm, 'galleryname')">
                        <label class="help-block" for="galleryname-input" ng-show="isRequired(galleryForm, 'galleryname')">Ett galleri behöver ett namn!</label>
                    </div>
                </div>

            </form>

            <div ng-class="resolveButtonGroup()">
                <button class="btn btn-primary pull-left" ng-show="!addingNewGallery || galleryForm.$valid" ng-click="sendGallery(galleryForm)">{{ galleryAction }}</button>
                <button class="btn btn-primary pull-left" ng-click="debugImagesToBeSent()">Debug</button>
                <button class="btn btn-primary pull-left" ng-hide="addingNewGallery" ng-click="setPostState(galleryForm)">Nytt galleri</button>
            </div>

            <button class="btn btn-danger pull-right" ng-hide="addingNewGallery" ng-click="deleteGallery(galleryForm)">Ta bort galleri</button>

        </div>

    </div>

</div>
