<div id="admin-members-section">

    <div class="container-fluid">
        <div class="row">

            <div class="selectable-container col-md-4">
                <p class="large-section-heading text-center">MEDLEMMAR</p>
                <div class="selectable member {{ getColorClass($index, membersColors) }} colored-text" ng-repeat="member in members" ng-click="setPutState(member)">
                    <p>{{ member.firstname }} {{ member.lastname }} - {{ member.instrument }}</p>
                </div>
            </div>

            <div class="col-sm-8">
                <p class="large-section-heading text-center">{{ heading }}</p>

                <div class="col-sm-6 col-sm-offset-3">

                    <p class="form-group">
                        <input type="text" class="form-control" ng-model="memberToBeSent.firstname" placeholder="Förnamn">
                        <input type="text" class="form-control" ng-model="memberToBeSent.lastname" placeholder="Efternamn">
                        <input type="text" class="form-control" ng-model="memberToBeSent.instrument" placeholder="Instrument">
                    </p>
                    <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-click="sendMember()">{{ memberAction }}</button>
                    <button class="btn btn-danger col-sm-6 col-sm-offset-3" ng-hide="addingNewMember" ng-click="deleteMember()">Ta bort medlem</button>
                    <button class="btn btn-primary col-sm-6 col-sm-offset-3" ng-hide="addingNewMember" ng-click="setPostState()">Ny medlem</button>

                </div>
            </div>

        </div>
    </div>

</div>
