<div id="admin-embedded-items">

    <div class="container-fluid">

        <div class="col-md-6 col-md-offset-3">

            <p class="non-bordered-large-section-heading text-center">VIDEO/LJUD</p>
            <ul class="nav nav-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Filmklipp</a></li>
                    <li role="presentation"><a href="#sound" aria-controls="sound" role="tab" data-toggle="tab">Ljudklipp</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="video">

                        <div class="selectable-container">

                            <p class="small-section-heading">Lägg till nytt klipp</p>
                            <div class="new-item-controls">
                                <p class="form-group">
                                    <input type="text" class="form-control" ng-model="embeddeditemsToBeSent.newEmbeddeditem.src" placeholder="url">
                                    <input type="text" class="form-control" ng-model="embeddeditemsToBeSent.newEmbeddeditem.type" placeholder="Mediatyp">
                                </p>
                                <button class="btn btn-primary" ng-click="postEmbeddeditem()">Bekräfta</button>
                            </div>

                            <p class="small-section-heading">Redigera existerande klipp</p>
                            <div ng-repeat="video in videos" id="{{ video.type }}-{{ $index }}">
                                <iframe class="selectable admin-item"
                                        width="560"
                                        height="315"
                                        src="{{ trustUrl(video.src) }}"
                                        frameborder="0"
                                        allowfullscreen>
                                </iframe>

                                <div class="editing-controls ng-hide">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="embeddeditemsToBeSent[video.type + '-' + $index].src" placeholder="url">
                                        <input type="text" class="form-control" ng-model="embeddeditemsToBeSent[video.type + '-' + $index].type" placeholder="Mediatyp">
                                    </div>

                                    <div class="btn-group pull-left">
                                        <button class="btn btn-primary" ng-click="putEmbeddeditem()">Bekräfta</button>
                                        <button class="btn btn-primary" ng-click="hideControls()">Avsluta redigeringsläge</button>
                                    </div>
                                    <button class="btn btn-danger pull-right" ng-click="deleteEmbeddeditem()">Ta bort klipp</button>
                                </div>

                                <button class="btn btn-primary put-state-button" ng-click="setPutState(video, $index)">Redigera klipp</button>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="sound">

                        <div class="selectable-container">

                            <p class="small-section-heading">Lägg till nytt klipp</p>
                            <div class="new-item-controls">
                                <p class="form-group">
                                    <input type="text" class="form-control" ng-model="embeddeditemsToBeSent.newEmbeddeditem.src" placeholder="url">
                                    <input type="text" class="form-control" ng-model="embeddeditemsToBeSent.newEmbeddeditem.type" placeholder="Mediatyp">
                                </p>
                                <button class="btn btn-primary" ng-click="postEmbeddeditem()">Bekräfta</button>
                            </div>

                            <p class="small-section-heading">Redigera existerande klipp</p>
                            <div ng-repeat="sound in sounds" id="{{ sound.type }}-{{ $index }}">
                                <iframe width="100%"
                                        height="166"
                                        scrolling="no"
                                        frameborder="no"
                                        src="{{ trustUrl(sound.src) }}">
                                </iframe>

                                <div class="editing-controls ng-hide">
                                    <p class="form-group">
                                        <input type="text" class="form-control" ng-model="embeddeditemsToBeSent[sound.type + '-' + $index].src" placeholder="url">
                                        <input type="text" class="form-control" ng-model="embeddeditemsToBeSent[sound.type + '-' + $index].type" placeholder="Mediatyp">
                                    </p>

                                    <div class="btn-group pull-left">
                                        <button class="btn btn-primary" ng-click="putEmbeddeditem()">Bekräfta</button>
                                        <button class="btn btn-primary" ng-click="hideControls()">Avsluta redigeringsläge</button>
                                    </div>
                                    <button class="btn btn-danger pull-right" ng-click="deleteEmbeddeditem()">Ta bort klipp</button>
                                </div>

                                <button class="btn btn-primary put-state-button" ng-click="setPutState(sound, $index)">Redigera klipp</button>
                            </div>

                        </div>

                    </div>
                </div>

            </ul>
        </div>

    </div>

</div>
