<div id="contact-section" class="section">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <h1>KONTAKT</h1>
                <h3>Bokning, press, säga hej och allting:</h3>

                <p>{{ email }}</p>

                <div ng-repeat="contactperson in contactpersons">
                    <p>Tel {{ contactperson.country }}: {{ contactperson.name }} - {{ contactperson.phonenumber }}</p>
                </div>

            </div>

        </div>
    </div>

</div>