<div id="contact-section" class="section">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <p class="large-section-heading">KONTAKT</p>
                <p class="small-section-heading">Bokning, press, säga hej och allting:</p>

                <p class="large-text">Mail: {{ email }}</p>

                <div ng-repeat="contactperson in contactpersons">
                    <p class="large-text">Tel {{ contactperson.country }}: {{ contactperson.name }} - {{ contactperson.phonenumber }}</p>
                </div>

            </div>

        </div>
    </div>

</div>