<div id="gallery-page">

    <button class="btn btn-default" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-default" ng-click="back()" ng-show="selectedImage.image">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </button>

    <div class="container-fluid">

        <div id="gallery-container">

            <div id="selected-image-container" ng-show="selectedImage.image">
                <a href="{{ selectedImage.image.full }}">
                    <img id="selected-image" src="{{ selectedImage.image.full }}">
                </a>
            </div>

            <div id="small-screen-container" class="selectable-container" ng-hide="selectedImage.image">
                <div class="selectable image-container" ng-repeat="image in images">
                    <img src="{{ image.thumb }}" ng-click="selectImage(image)">
                </div>
            </div>

        </div>

    </div>


</div>
