<div id="gigs-section" class="section">

    <div class="container-fluid">
        <div class="row">

            <div id="gigs" class="col-md-8 col-md-offset-2">
                <h1 class="text-center">KOMMANDE KONSERTER</h1>
                <div id="gigs-container" class="selectable-container">
                    <div ng-repeat="gig in gigs" class="gig selectable collapsed row">
                        <gig></gig>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>