<div id="gigs-section" class="section">

    <div class="container-fluid">
        <div class="row">

            <div id="gigs" class="col-md-8 col-md-offset-2">

                <p class="large-section-heading">{{ gigsHeading }}</p>

                <div id="gigs-container" class="selectable-container">
                    <div ng-repeat="gig in gigs | filter:dateFilter()" class="gig selectable collapsed row {{ getColorClass($index, gigsColors) }}">
                        <gig></gig>
                    </div>
                </div>

                <p id="earlier-gigs" class="large-text" ng-click="showSelectedGigs()">{{ toggleGigsButtonText }}</p>

            </div>

        </div>
    </div>


</div>