<div id="gigs-section" class="section">

    <div class="container-fluid">
        <div class="row">

            <div id="gigs" class="col-md-8 col-md-offset-2">

                <p class="large-section-heading">KOMMANDE KONSERTER</p>

                <div id="gigs-container" class="selectable-container">
                    <div ng-repeat="gig in gigs | filter:dateFilter()" class="gig selectable collapsed row bordered-{{ getColorClass($index, gigsColors) }}">
                        <gig></gig>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>