<div id="members-section" class="section">

    <div class="container-fluid">
        <div class="row">
            <!--<p class="small-section-heading">SPÖKET ÄR</p>-->

            <!--<div class="member {{ colorsClasses[$index % colorsClasses.length] }}" ng-repeat="member in members">
                <p class="text-center">{{ member.firstname }} {{ member.lastname }} - {{ member.instrument }}</p>
            </div>-->

            <div class="col-md-8 col-md-offset-2">
                <p class="small-section-heading">SPÖKET ÄR</p>
                <div class="member {{ getColorClass($index, membersColors) }} colored-text" ng-repeat="member in members">
                    <p>{{ member.firstname }} {{ member.lastname }} - {{ member.instrument }}</p>
                </div>
            </div>

        </div>
    </div>

</div>