<div class="admin-page">
    <div class="box col-sm-4">
        <div class="selectable-container">
            <div ng-repeat="item in items" class="admin-item selectable row">
                <admin-item item="item" ng-click="setPutState(item)"></admin-item>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="{{ formName }}" novalidate>

                <div ng-repeat="group in formStructure" class="form-group">

                    <label for="{{ entityName + '-' + $index }}">{{ group.label }}</label>
                    <div id="{{ entityName + '-' + $index }}">
                        <dynamic-input ng-repeat="(field, type) in group.fields"
                                       field="{{ field }}"
                                       type="{{ type }}"
                                       model="objectToSend">
                        </dynamic-input>
                    </div>

                </div>

                <button class="btn btn-primary pull-left" ng-click="send(formName)">{{ action }}</button>
                <button class="btn btn-primary pull-left" ng-hide="addingNew" ng-click="setPostState()">Ny</button>

                <button class="btn btn-danger pull-right" ng-hide="addingNew" ng-click="delete(formName)">Ta bort</button>

            </form>
        </div>
    </div>
</div>
