<div class="admin-page">
    <div class="box col-sm-4" ng-if="items">
        <p class="text-center non-bordered-large-section-heading">{{ entityName | capitalize }}</p>
        <div class="selectable-container">
            <div ng-repeat="item in items" class="admin-item selectable row">
                <admin-item item="item" fields="fields" ng-click="setPutState(item)"></admin-item>
            </div>
        </div>
    </div>
    <div class="{{ items ? 'col-sm-8' : 'col-sm-12' }}">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="{{ formName }}" novalidate>

                <div ng-repeat="group in formStructure" class="form-group">

                    <label for="{{ entityName + '-' + $index }}">{{ group.label }}</label>
                    <div id="{{ entityName + '-' + $index }}">
                        <dynamic-input ng-repeat="(fieldName, type) in group.fields"
                                       field-name="{{ fieldName }}"
                                       type="{{ type }}"
                                       model="objectToSend">
                        </dynamic-input>
                    </div>

                </div>

                <button class="btn btn-primary pull-left" ng-click="send(formName)">{{ action }}</button>
                <button class="btn btn-primary pull-left" ng-hide="addingNew" ng-click="setPostState()">Ny</button>

                <button class="btn btn-danger pull-right" ng-hide="addingNew" ng-click="delete(formName)">Ta bort</button>

            </form>
        </div>
    </div>
</div>
