@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200, 300, 400, 600');
@import url('https://fonts.googleapis.com/css?family=Oswald:300, 400, 700');

@viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 0.3;
    width: extend-to-zoom;
}

body {
    /*font-family: "Oswald", "Source Sans Pro", sans-serif !important;*/
    font-family: "Oswald" !important;
    font-weight: 300 !important;
}

/* Mobile first! */

#main {
    /*left: 10%;*/
    width: 100%;
    background-color: #DFDBC3;
    z-index: 1;
    text-align: center;
    overflow-x: visible;
    border-radius: 2px;
}

/* Preventing the embedded youtube player from getting wider than the #main div */
#main iframe {
    width: 100%;
    box-shadow: 1px 1px 5px #919292;
}

.heading {
    display: inline-block;
    width: 17%;
    font-size: 14pt;
    color: #D0D7DA;
    transition: all .5s ease;
}

/* For devices bigger than an iPhone 4s, might need to up this minimum a bit, check samsung device widths */
@media (min-width: 641px) {
    #background {
        background: rgba( 0, 0, 0, 0 ) 
                    url(https://www.spoketikoket.com/static/images/backgroundimages/backgroundLogo.jpg) no-repeat 50% 0 / cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    #main {
        width: 100%;
        /*background-color: #F5F5F5;*/
        background-color: #DFDBC3;
        z-index: 1;
        text-align: center;
        overflow-x: hidden;
        border-radius: 2px;
    }

    .heading {
        display: inline-block;
        width: 15%;
        font-size: 14pt;
        /*margin-bottom: 10%;*/
        color: #D0D7DA;
        /*font-weight: bold;*/
        transition: all .5s ease;
    }
}

#header {
    background-color: #123848;
    margin-bottom: 10%;
}

.heading {
    display: inline-block;
    width: 17%;
    font-size: 14pt;
    color: #D0D7DA;
    transition: all .5s ease;
}

.heading:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.section-heading {
    width: 60%;
    color: #123848;
    font-size: 28pt;
    font-weight: medium;
    border-top: 2px solid #123848;
    padding-top: 1%;
}

#current-gig {
    font-size: 20pt;
    width: 40%;
}

.upcoming-gig {
    font-size: 18pt
}

#not-visible, #visible {
    display: none;
}

#to-top {
    position: fixed;
    z-index: 2;
    bottom: 2%;
    right: 1%;
    color: #F1F1F1;
    background-color: #123848;
    padding: 0% 1% 0% 1%;
    opacity: 0.0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* to prevent cursor being displayed as text marker when element is hidden: */
    cursor: default;
}

#visible:checked + #to-top {
    opacity: 0.7;
}

#visible:checked + #to-top:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}